<section class="thirteen columns">
    <h1>About me</h1>
    <article>
        <!--
        <header>
            <h1>Software Engineer</h1>
            <span><address>Edinburgh, UK</address><time>2015 to Present</time></span>
        </header>-->
        <p>My scholarship focuses on <strong>understanding and facilitating engineering education reform</strong>, through which I seek to educate engineers who can demonstrate <strong>leadership, responsibility, and innovation</strong>. Inspired by sociology, ethics, history, and educational research, I teach and conduct interdisciplinary research in <strong>engineering ethics, international engineering education, and engineering cultures</strong>. I have been honored as a major contributor to the US National Academy of Engineering “Exemplars in Engineering Ethics Education” and as the “KEEN Rising Star” at The Ohio State University. My research is published with journals like the Journal of Engineering Education, Science and Engineering Ethics，Engineering Studies, International Journal of Engineering Education.</p>
    </article>
</section>
