<section class="thirteen columns">
    <h1>Fellowship, Honors and Awards</h1>
    <article>
        <header>
            <h1>KEEN Rising Star Award.</h1>
            <span>The Ohio State University — 2020</span>
        </header>
    </article>
    <article>
        <header>
            <h1>Best Paper Award.</h1>
            <span>Ethically Informed Intellectuals or Responsible Professionals? A Comparative Study of Engineering Ethics Education in China and the United States.” Engineering Ethics Division. 124th ASEE Annual Conference, June 25-28, Columbus, OH. — 2017</span>
        </header>
    </article>
    <article>
        <header>
            <h1>Best Paper Award.</h1>
            <span>“Educating Engineering Leaders for Advanced Manufacturing: Lessons from Engineering Ethics Education in the United States.” International Symposium on Science, Technology & Education Policy, October 28-29. Hangzhou, China.
 — 2016</span>
        </header>
    </article>
    <article>
        <header>
            <h1>Contributor</h1>
            <span>National Academy of Engineering (NAE) Exemplar in Engineering Ethics Education — 2016</span>
        </header>
    </article>
</section>
