<section class="thirteen columns">
    <h1>Peer Reviewed Journal Publications</h1>
    <article>
        <header>
            <h1>Developing an Online Data Ethics Module Informed by an Ecology of Data Perspective.</h1>
            <span><span style="color: black;">Tang, X.</span>, Mendieta, E., and Litzinger, T. A. (2022).</span>
        </header>
        <p>
            Science and Engineering Ethics 28 (21). https://doi.org/10.1007/s11948-022-00374-5.
        </p>
    </article>
    <article>
        <header>
            <h1>Infusing Ethics Across the Curriculum in Biological Engineering: Background, Process, and Initial Results.</h1>
            <span><span style="color: black;">Tang, X.</span>, Catchmark, J., Mendieta, E., and Litzinger, T. A. (2020). </span>
        </header>
        <p>
            Advances in Engineering Education. https://advances.asee.org/infusing-ethics-across-the-curriculum-in-biological-engineering-background-process-and-initial-results/
        </p>
    </article>
    <article>
        <header>
            <h1>Rubric-Based Assessment of Entrepreneurial Minded Learning in Engineering Education: A Review.</h1>
            <span>Park, E., Leonard, A., DeLano, J. S., <span style="color: black;">Tang, X.</span>*, and Grzybowski, D*. (2020).</span>
        </header>
        <p>
            International Journal of Engineering Education 36 (6): 2015-2029. https://www.ijee.ie/contents/c360620.html
        </p>
    </article>
    <article>
        <header>
            <h1>Transaction Costs, Doomed Creditors, and the Pursuit of Responsible Innovation.</h1>
            <span> <span style="color: black;">Tang, X.</span>(2018).</span>
        </header>
        <p>
            IEEE Technology and Society Magazine 37 (4): 70-75. DOI: 10.1109/MTS.2018.2876106
        </p>
    </article>
    <article>
        <header>
            <h1>Ethics and Sustainability in Global Contexts: Studying Engineering Student Perspectives Through Photoelicitation.</h1>
            <span>Berdanier, C. G. P., <span style="color: black;">Tang, X.</span>, and Cox, M. F. (2018). </span>
        </header>
        <p>
            Journal of Engineering Education, 107 (2): 238-262. https://doi.org/10.1002/jee.20198
        </p>
    </article>
    <article>
        <header>
            <h1>Contextualizing the Code: Ethical Support and Professional Interests in the Creation and Institutionalization of the 1974 IEEE Code of Ethics.</h1>
            <span> <span style="color: black;">Tang, X.</span>, and Nieusma, D. (2017).</span>
        </header>
        <p>
            Engineering Studies, 9 (3): 166-194. https://doi.org/10.1080/19378629.2017.1401630
        </p>
    </article>
    <article>
        <header>
            <h1>培养面向先进制造的工程领袖:美国工程伦理教育的启示.</h1>
            <span> <span style="color: black;">唐潇风</span>(2017). </span>
        </header>
        <p>
            科教发展评论, 13-24.
        </p>
    </article>
    <article>
        <header>
            <h1>Bridging the Two Cultures and Forging a Holistic Culture: A Response to the Liberal Studies in Engineering Workshop.</h1>
            <span> <span style="color: black;">Tang, X.</span>(2015).</span>
        </header>
        <p>
            Engineering Studies, 7 (2-3): 191-192. https://doi.org/10.1080/19378629.2015.1062495
        </p>
    </article>
    <article>
        <header>
            <h1>The Unbalanced Equation: Technical Opportunities and Social Barriers in the NAE Grand Challenges and Beyond.</h1>
            <span>Nieusma, D., and <span style="color: black;">Tang, X.</span> (2012). </span>
        </header>
        <p>
            International Journal of Engineering, Social Justice, and Peace, 1 (2). https://doi.org/10.24908/ijesjp.v1i2.4314
        </p>
    </article>
</section>
