<section class="thirteen columns">
    <h1>Peer Reviewed Conference Papers</h1>
    <article>
        <header>
            <h1>Visions of Engineers for the Future: A Comparison of American and Chinese Policy Discourses on Engineering Education Innovation.</h1>
            <span>Cao, Y., Ma, X., Case, J. M., Jesiek, B. K., Knight, D. B., Oakes, W. C., Paretti, M. C., <span style="color: black;">Tang, X.</span>, Xie, Z., and Zhao, H. (2021).</span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>The International Engagement of Engineering Education in China: A Historical Case Study of Tsinghua University.</h1>
            <span>Xie, Z., <span style="color: black;">Tang, X.</span> and Jin, F. (2021). </span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>Improved Student Performance in a First-Year Engineering Course with Integration of Entrepreneurial Minded Learning.</h1>
            <span>Grzybowski, D. M., <span style="color: black;">Tang, X.</span>, Park, E., Leonard, A., DeLano, J., and Zhao, K. (2020). </span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>Redesigning an Experimentation Course with PBL Pedagogy to Support Accreditation in China.</h1>
            <span>Zhang, L., Wang, D., <span style="color: black;">Tang, X.</span>, Zhang, Z., and Lin, H. (2020). </span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>Preparing Ethical Leaders in Engineering Research and Practice: Designing an Ethical Leadership Module.</h1>
            <span><span style="color: black;">Tang, X.</span>, Burris, L., Hu, N., and Brenkus, N. (2019).</span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>Creating Faculty Buy-In for Ethics-Across-the-Curriculum: Year One of Developing an Ethics Curriculum in an Undergraduate Biological Engineering Program.</h1>
            <span><span style="color: black;">Tang, X.</span>, Catchmark, J., Mendieta, E., and Litzinger, T. (2018). </span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>From "Empathic Design" to "Empathic Engineering": Toward a Genealogy of Empathy in Engineering Education.</h1>
            <span> <span style="color: black;">Tang, X.</span> (2018).</span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>Building a Community of Ethics Educators in Graduate Engineering Programs: Developing an Ethics Workshop Following a User-Oriented Approach.</h1>
            <span> <span style="color: black;">Tang, X.</span>, Mendieta, E., and Litzinger, T. A. (2017).</span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>Ethically Informed Intellectuals or Responsible Professionals? A Comparative Study of Engineering Ethics Education in China and the United States.</h1>
            <span><span style="color: black;">Tang, X.</span>, Zhang, W., and Yang, S. (2017). </span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>University Innovation & Entrepreneurship Ecosystem for Engineering Education: A Multi-Case Study of Entrepreneurship Education in China.</h1>
            <span>Zhang, W., Jiang, Y., and <span style="color: black;">Tang, X.</span> (2017).</span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>Toward a Cross-cultural Conversation: Liberal Arts Education for Engineers in China and the U.S.</h1>
            <span> <span style="color: black;">Tang, X.</span>, Zhu, Q., and Pang, H. (2016).</span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>From Nanosystems to Ethical Eco-Systems: Designing a Workshop for Graduate Researchers on Self-Powered Wearable Health Devices.</h1>
            <span><span style="color: black;">Tang, X.</span> , Miller, S. C., and Litzinger, T. A. (2016).</span>
        </header>
        <p>
            IEEE International Symposium on Ethics in Engineering, Science, and Technology.
        </p>
    </article>
    <article>
        <header>
            <h1>Institutionalizing Ethics: Historical Debates Surrounding IEEE’s 1974 Code of Ethics.</h1>
            <span> <span style="color: black;">Tang, X.</span> & Nieusma, D. (2015).</span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>Institutional Responses to the Bologna Process in Danish Engineering Education.</h1>
            <span>Akera, A. & <span style="color: black;">Tang, X.</span> (2015).</span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
  <article>
        <header>
            <h1>When Engineering Meets Self and Society: Students Reflect on the Integration of Engineering and Liberal Education.</h1>
            <span> <span style="color: black;">Tang, X.</span>(2014).</span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>Conflict and Integration between Engineering Education and General Education in Modern China: The Case of Tsinghua University.</h1>
            <span>Zhang, Z. & <span style="color: black;">Tang, X.</span> (2014).</span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>Visions of Social Competence: A Cross-cultural Comparison of Engineering Education Accreditation in Australia, China, Sweden, and the United States.</h1>
            <span>Kabo, J., <span style="color: black;">Tang, X.</span>, Nieusma, D., Currie, J., Hu, W., & Baille, C. (2012). </span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
    <article>
        <header>
            <h1>Teaching the Unbalanced Equation: Technical Opportunities and Social Barriers in the NAE Grand Challenges and Beyond.</h1>
            <span>Nieusma, D. & <span style="color: black;">Tang, X.</span> (2011).</span>
        </header>
        <p>
            American Society for Engineering Education Annual Conference.
        </p>
    </article>
</section>
