<section class="thirteen columns">
    <h1>Initiatives</h1>
    <h2>Peer Reviewed Journal Publications</h2>
    <article>
        <header>
            <h1>Developing an Online Data Ethics Module Informed by an Ecology of Data Perspective.</h1>
            <span>Tang, X., Mendieta, E., and Litzinger, T. A. (2022). </span>
        </header>
        <p>
            Science and Engineering Ethics 28 (21). https://doi.org/10.1007/s11948-022-00374-5.
        </p>
    </article>
    

    <h2>Peer Reviewed Conference Papers</h2>

    <h2>Book Chapters</h2>
</section>
