<section class="thirteen columns">
    <h1>Research Field & Overview</h1>
    <article>
      <p><strong>Engineering Ethics</strong> — Professional autonomy and the ethical responsibility of engineers; engineering ethics education and faculty development; ethical leadership</p>
      <p><strong>International Engineering Education</strong> — The historical evolution, development needs, and innovation of engineering education in different countries and regions</p>
      <p><strong>Engineering Cultures</strong> — Public images of engineering; engineering and society</p>
    </article>
</section>
