<section class="thirteen columns">
    <h1>Research Field & Overview</h1>
    <article>
      <p>Engineering Ethics—Professional autonomy and the ethical responsibility of engineers; engineering ethics education and faculty development; ethical leadership</p>
      <p>International Engineering Education—The historical evolution, development needs, and innovation of engineering education in different countries and regions</p>
      <p>Engineering Cultures—Public images of engineering; engineering and society</p>
    </article>
</section>
