<section class="thirteen columns">
    <h1>Work Experience</h1>
  <article>
        <header>
            <h1>Director, Division of Engineering Education Research</h1>
            <span>Tsinghua University — since 2024</span>
        </header>
    </article>
  <article>
        <header>
            <h1>Associate Professor, Institute of Education</h1>
            <span>Tsinghua University — since 2020</span>
        </header>
    </article>
  <article>
        <header>
            <h1>Assistant Professor of Practice, Department of Engineering Education</h1>
            <span>The Ohio State University — 2017 to 2020</span>
        </header>
    </article>
  <article>
        <header>
            <h1>Postdoctoral Scholar, the Rock Ethics Institute and the Leonhard Center for the Enhancement of Engineering Education</h1>
            <span>The Pennsylvania State University — 2014 to 2017</span>
        </header>
    </article>
  <article>
        <header>
            <h1>Electrical Engineer</h1>
            <span>Shanghai Baosight Software Co., Ltd. — 2005 to 2006</span>
        </header>
    </article>
</section>
